body {
    background-color: #F8F9FA;
}



.carousel-item img{
    box-sizing: border-box;
    width: 100%;
}

/* .col {
    border: dimgray;
} */

h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }